@mixin cell-size-landscape($size) {
  height: (10 * (522vh - 2 * ($size + 1))) / (63 * $size);
  width: (10 * (522vh - 2 * ($size + 1))) / (63 * $size);
}

@mixin cell-size-portrait($size) {
  height: (100 * (320vw - 2 * ($size + 1))) / (320 * $size);
  width: (100 * (320vw - 2 * ($size + 1))) / (320 * $size);
}

.cells {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__table {
    border-collapse: collapse;
  }

  &__cell {
    background: $cell-color 50% 50% no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1px $background-color;
    cursor: pointer;

    &--1 {
      background-image: url("../img/1.png");
    }

    &--2 {
      background-image: url("../img/2.png");
    }

    &--3 {
      background-image: url("../img/3.png");
    }

    &--4 {
      background-image: url("../img/4.png");
    }

    &--mouseover {
      background-color: $background-color;
    }

    @media screen and (orientation: landscape) {
      &--size-4 {
        @include cell-size-landscape(4);
      }

      &--size-5 {
        @include cell-size-landscape(5);
      }

      &--size-6 {
        @include cell-size-landscape(6);
      }

      &--size-7 {
        @include cell-size-landscape(7);
      }

      &--size-8 {
        @include cell-size-landscape(8);
      }

      &--size-9 {
        @include cell-size-landscape(9);
      }

      &--size-10 {
        @include cell-size-landscape(10);
      }
    }

    @media screen and (orientation: portrait) {
      &--size-4 {
        @include cell-size-portrait(4);
      }

      &--size-5 {
        @include cell-size-portrait(5);
      }

      &--size-6 {
        @include cell-size-portrait(6);
      }

      &--size-7 {
        @include cell-size-portrait(7);
      }

      &--size-8 {
        @include cell-size-portrait(8);
      }

      &--size-9 {
        @include cell-size-portrait(9);
      }

      &--size-10 {
        @include cell-size-portrait(10);
      }
    }
  }

  &__control {
    display: flex;
    align-items: center;
    padding: 20px 2px;
  }

  &__field-size-label {
    padding-right: 5px;
    font-size: 22px;
    font-weight: 700;
    color: $red-color;
    cursor: pointer;
  }

  &__field-size-input {
    width: 60px;
    font-size: 22px;
    font-weight: 700;
    color: $red-color;
    background-color: $background-color;
    cursor: pointer;
  }

  &__shuffle-button {
    margin-left: auto;
    padding: 4px 30px 3px;
    font-size: 20px;
    color: #ffffff;
    background-color: $red-color;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;

    &:hover {
      color: $red-color;
      background-color: #ffffff;
      box-shadow: inset 0 0 0 3px $red-color;
    }
  }
}